*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
.hero{
background-image:url("4.png") ;
height:620px;
background-repeat: no-repeat;
   background-size:cover;
   text-align: center;
   padding: 73px;
}
.hero2{
background-image:url("3.png") ;
height:620px;
background-repeat: no-repeat;
   background-size:cover;
   text-align: center;
   padding: 73px;
   margin-bottom: 70px;
}
.hero h3{
    font-family: Montserrat;
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.1px;
text-align: center;
color: white;
padding-bottom: 10px;
}
.hero h1{
    font-family: Poppins;
font-weight: 700;
font-size: 58px;
line-height: 80px;
letter-spacing: 0.2px;
text-align: center;
color: white;
padding-bottom: 20px;
}
.hero p{
    font-family: Montserrat;
font-weight: 500;
font-size: 24px;
line-height: 38px;
letter-spacing: 0.2px;
text-align: center;
color: white;
padding-bottom: 54px;
}
.btn {
width: 180px;
height: 58px;
background: #FA4A0C;
border: none;
box-shadow: 0px 10px 30px 0px #B7322733;
border-radius: 40px;
color: white;
} 
.btn2 {
width: 180px;
height: 58px;
background: inherit;
box-shadow: 0px 10px 30px 0px #B7322733;
border-radius: 40px;
color: white;
} 
.btn2:hover{
    background-color: #FA4A0C;
    border: none;
}
.la{
    margin-top: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 128px;
border-bottom: 3px solid #E4E4E4;
}
main h2{
font-family: Poppins;
font-weight: 600;
font-size: 44px;
line-height: 36px;
letter-spacing: 0.1px;
color: #000;
margin-bottom: 60px;
text-align: center;
}
.cadr{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.cadr h4{
    font-family: Montserrat;
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.1px;
color: #FA4A0C;
padding-bottom: 10px;
}
.cadr h1{
    font-family: Montserrat;
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
padding-bottom: 20px;
}
.cadr p{
    font-family: Montserrat;
font-weight: 500;
font-size: 24px;
line-height: 38px;
letter-spacing: 0.2px;
color: #737373;
}

.hero2 h3{
    font-family: Montserrat;
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.1px;
text-align: center;
color: white;
padding-bottom: 10px;
}
.hero2 h1{
    font-family: Poppins;
font-weight: 700;
font-size: 58px;
line-height: 80px;
letter-spacing: 0.2px;
text-align: center;
color: white;
padding-bottom: 20px;
margin-top: 130px;
}
.hero2 p{
    font-family: Montserrat;
font-weight: 500;
font-size: 24px;
line-height: 38px;
letter-spacing: 0.2px;
text-align: center;
color: white;
padding-bottom: 54px;
}
.btn3 {
width: 142px;
height: 64px;
background: #FA4A0C;
border: none;
box-shadow: 0px 10px 30px 0px #B7322733;
border-radius: 10px;
color: white;
} 
.btn4 {
width: 180px;
height: 58px;
background: inherit;
box-shadow: 0px 10px 30px 0px #B7322733;
border-radius: 10px;
color: white;
border: 1px solid white;
} 
.btn4:hover{
    background-color: #FA4A0C;
    border: none;
}
.bt{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}