*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    padding: 50px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #252B42;
}
nav ul li a:hover{
color: #FA4A0C;
}